DATABASE_URL=postgresql://user:password@localhost/db
SECRET_KEY=supersecretkey
DEBUG=True
APP_PORT=your_port_number
DB_HOST=string
DB_PORT=some_number
DB_USER=some_string
DB_PASSWORD=some_string
DB_NAME=some_string
DB_TYPE=some_string
CODE_BE_GEN_BASE_URL=
GITEA_API_URL=https://gitea.example.com/api/v1
GITEA_TOKEN=your_gitea_access_token
TEMPLATE_REPO_URL=https://github.com/projects/backend-template.git
GIT_OWNER=MarlineKhavele
GIT_USER_NAME=MarlineKhavele
GIT_USER_EMAIL=khavelemarline@gmail.com
ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7
ALGORITHM=HS256
ANTHROPIC_API_KEY=your_anthropic_api_key
DEFAULT_LLM_PROVIDER=anthropic/claude-3-sonnet-20240229
LLM_MAX_TOKENS=4096
LLM_TEMPERATURE=0.7